<!DOCTYPE html>
<html lang="en">

<head>

    <title>404</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- Custom stlylesheet -->
    <style>
        body {
            background-color: #161522;
        }
        .vertical-center {
            min-height: 100%;
            min-height: 100vh;

            display: flex;
            align-items: center;
        }
        .ireng {
            color: white;
        }
    </style>

</head>

<body>

    <div class="vertical-center">
        <div class="container">
            <div id="notfound" class="text-center ">
                <img src="https://preview.redd.it/ivheqzcmv0x71.png?width=960&crop=smart&auto=webp&s=9345a8859e9488bac1a464cb60a4c62f61b94960" alt="error" width="192px">
                <h1 class="ireng">404 | Not Found</h1>
                <p class="ireng">Sorry but the page you are looking for does not exist.</p>
                <a class="text-decoration-none" href="/"><b>Back to homepage</b></a>
            </div>
        </div>
    </div>

</body>

</html>
